<div id="cover">
  <!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 mt-2 h1"><p>
      <span style='color: red; font-size: x-large;font-weight: bolder;'>I</span>
      <span style='color: orange; font-size: x-large;font-weight: bolder;'>t</span>
      <span style='color: yellow; font-size: x-large;font-weight: bolder;'>'</span>
      <span style='color: green; font-size: x-large;font-weight: bolder;'>s</span>
      <span style='color: #28242c'>|</span>
      <span style='color: blue; font-size: x-large;font-weight: bolder;'>p</span>
      <span style='color: purple; font-size: x-large;font-weight: bolder;'>i</span>
      <span style='color: red; font-size: x-large;font-weight: bolder;'>a</span>
      <span style='color: orange; font-size: x-large;font-weight: bolder;'>n</span>
      <span style='color: yellow; font-size: x-large;font-weight: bolder;'>o</span>
      <span style='color: #28242c'>|</span>
      <span style='color: teal; font-size: x-large;font-weight: bolder;'>t</span>
      <span style='color: blue; font-size: x-large;font-weight: bolder;'>i</span>
      <span style='color: purple; font-size: x-large;font-weight: bolder;'>m</span>
      <span style='color: red; font-size: x-large;font-weight: bolder;'>e</span>
      <span style='color: orange; font-size: x-large;font-weight: bolder;'>!</span>
    </p></span>
  </div>
</nav>
  <!-- As a heading -->
  <!-- As a piano -->
<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="sound(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a (click)="sound(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a (click)="sound(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
      <a (click)="sound(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
      <a (click)="sound(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
      <a (click)="sound(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a (click)="sound(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
    </div>
  </div>
</div>
<!-- As a piano -->
</div>
